body{
    background-color: lightgray;
    
}


.container{
width:360px;
margin:center;
background-color: white;
margin:auto;
padding:10px;
}

.boxred{
background-color: red;
border-style: solid;
border-color: #9C251F;
border-width: 30px;
width: 300px;
margin:auto;
height: 300px;
}

.inner-box.red{
height:150px;
background-color:coral;
margin-top: 150px;
}

.boxyellow{
background-color: yellow;
border-style: solid;
border-color: #B8B814;
border-width: 30px;
margin:10px auto;
width: 300px;
height: 300px;
}

.inner-box.yellow{
    height:150px;
    width:150px;
    margin-left: 150px;
    margin-top:150px;
    background-color:lightyellow;
    
}

.boxgreen{
background-color:#409911;
border-style: solid;
border-color: green;
border-width: 30px;
margin:auto;
width: 300px;
height: 300px;
}

.inner-box.green{
    height:150px;
    width:150px;
    margin: 150px 150px 150px 0px;
    background-color:lightgreen;
}